table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  font-size: 0.9em;

 
}


#logo{
padding-top:0em;
font-size: 3.5em;
vertical-align: middle;
line-height:2.8em;
text-align: center;


}

.button {
    background-color: #eee; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3.5em;
}


.hidden_table_gene {
width:100%;

}

.hidden_table_path {
width:100%;

}

.hidden_table_missing {
width:100%;

}



.hidden_table_gene tr{
 display:none;

}

.hidden_table_path tr{
 display:none;

}

.hidden_table_missing tr{
 display:none;

}



.hidden_table_gene td{
 display:none;
 word-break:normal; 
 text-align: center;

}

.hidden_table_path td{
 display:none;
 word-break:normal; 
 text-align: center;

}

.hidden_table_missing td{
 display:none;
 word-break:normal; 
text-align: center;
}




.report_gene td{
	width:20em;
	word-break:normal; 
	text-align: center;
}

.report_path td{
	width:20em;
	word-break:normal; 
	text-align: center;
}

.report_miss td{
	width:20em;
	word-break:normal; 
	text-align: center;
}


.report_gene th {
    background-color: #77dd77;
    color: white;
	text-align: center;
}

.report_path th {
    background-color: #77dd77;
    color: white;
	text-align: center;
}

.report_miss th {
    background-color: #77dd77;
    color: white;
	text-align: center;
}



tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}


.navbar-brand {
  padding: 0px;
  margin-top:0.1em;
    height: 7em;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.mainnav .navbar-brand>img {
  padding: 0px 15px ;
}

/* 


*/

/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */


.navbar-alignit .navbar-header {
	  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 200px;
}
.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0,-50%);
	margin-right: 15px;
  margin-left: 15px;
}



body {
  font-family: "Lato";
}


